{%extends 'base.html'%}

{%block title%}grupo18{%endblock%}

{%block content%}
        

        <article>
            <!--Imagems-->
            <section id="content" class="mb-5">                               
                <div id="carouselExampleIndicators" class="carousel slide w-75 m-auto" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100 img-loja" src="../static/img/NOTA-25-SITE.jpg" alt="Primeiro Slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-loja" src="../static/img/Vacinacao-Covid-19.jpeg" alt="Segundo Slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-loja" src="../static/img/vacinacao1.jpg" alt="Terceiro Slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Próximo</span>
                    </a>
                  </div>
                    
                    <div id="texto" class="m-auto w-75">
                    <p> 
                      Desde a descoberta da doença por Coronavírus 2019 (COVID-19), o mundo se deparou com o desconhecido no campo da saúde, que interferiu nas demais estruturas sociais. O RNA do vírus denominado SARS-CoV-2, que deu origem a doença, foi reportado pela primeira vez na China em grupo de pacientes que apresentavam: febre, restrição respiratória e tosse, mas apenas em fevereiro de 2020 foi reportado pela Organização Mundial da Saúde (OMS) o primeiro caso da doença registrado no Brasil.
                    </p>
                    
                
            </section>
        </article>
  

{%endblock%}        